@model ICollection<Category>

    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Explanation</td>
                <td>CreateDate</td>
            </tr>
        </thead>
    </table>
